body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Signika Negative', sans-serif;
  color: white;
}

.header {
  list-style-type: none;
  position: fixed;
  top : 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 80px;
  box-shadow: 0px 2px 2px black;
  background-color: black;
  opacity: 0.8;
}

.header a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  opacity: 0.8;
}

.header > .intro, .news {
  width: 15%;
  height: 80px;
  top: 0;
}

.header > .intro {
  left: 150px;
}

.header > .news {
  left: 450px;
}

.header > .download, .folow_us {
  width: 15%;
  height: 80px;
  top: 0;
}

.header > .download {
  right: 450px;
}

.header > .folow_us {
  right: 150px;
}

.header > .intro, .download, .news, .folow_us {
  display: flex;
  float: left;
  align-items: center;
  position: absolute;
  justify-content: center;
}

#logo_genshin{
  width: 200px;
  float: left;
}

.header > .logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  top: 0;
  height: 80px;
  left: 40%;
}

#live_background
{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  position: absolute;
  width: 100%;
  height: 76px;
  justify-content: center;
}


.button {
  z-index: 5;
  display: flex;
  position: absolute;
  width: 356px;
  height: 76px;
  background-image: url(../image/entry_home_page.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(0, -300px);
}

#in {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 154px;
  top: 14px;
  border-radius: 50%;
}

#out {
  position: absolute;
  width: auto;
  height: auto;
  left: 163px;
  top: 24px;
  visibility: hidden;
}

/* PRESENTATION */

.presentation {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  background-image: url(../image/neutral_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  top: 200px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

.title_presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
  top: 10%;
  left: 0;
}


.title_presentation > div {
  opacity: 0.8;
  font-size: 40px;
  text-align: center;
}

/* ACTUALITE */

.new_maj .carousel_actualite {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.new_maj {
  background-image: url(../image/new_maj_background.png);
  width: 100%;
  height: 100vh;
  max-height: 1080px;
}

.carousel_actualite {
  background-image: url(../image/neutral_background.jpg);
  width: 100%;
  height: 100vh;
  max-height: 1080px;
}

.title_news {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
  top: 10%;
  left: 0;
}

.title_news > div {
  opacity: 0.8;
  font-size: 40px;
  text-align: center;
}

/* TELECHARGER */

.telecharger {
  display: flex;
  justify-content: center;
  background-image: url(../image/telecharger_background.png);
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.title_telecharger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 75px;
  bottom: 20%;
  left: 0;
}

.title_telecharger > div {
  opacity: 0.8;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

.plateform {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 50%;
  height: 62px;
  bottom: 50px;
}

.footer {
  background-color: #111111;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 15%;
}

.content_footer {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: space-between;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.first_part {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 100%;
  left: 10%
}

.second_part {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 100%;
  right: 10%
}

.links_text {
  margin: 10px;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

.links {
  line-height: 1.5;
  width: 40%;
  height: 100%;
}

.links > a {
  display: block;
  list-style-type: none;
  text-decoration: none;
  text-align: start;
  font-size: 20px;
}

.text {
  line-height: 1.5;
  width: 60%;
  height: 100%;
}

.text > div {
  display: block;
  list-style-type: none;
  text-decoration: none;
  text-align: start;
  font-size: 16px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 0px;
  z-index: 999;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

/*
Rollover Image
*/

.figure {
  right: 0px;
  width: 5%; /* can be omitted for a regular non-lazy image */
  max-width: 100%;
}

.figure img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}
.figure:hover img.image-hover {
  opacity: 1;
}
